<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Teachers</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <!-- Navbar -->
    <ul class ="navbar">
    <button type="submit" class="btn btn-outline-secondary mb-2 myButton" id="myButton" onclick="window.location.href='/';" >Home</button>
    <!-- <li class ="navbarlist"><a href="Teachers/index.html">Teachers</a></li> -->
    <button type="submit" class="btn btn-outline-secondary mb-2 myButton" id="myButton" onclick="window.location.href='/teachers';" >Teachers</button>
    <!-- <li class ="navbarlist"><a href="Students/index.html">Students</a></li> -->
    <button type="submit" class="btn btn-outline-secondary mb-2 myButton" id="myButton" onclick="window.location.href='/students';" >Students</button>
    <!-- <li class ="navbarlist"><a href="Courses/index.html">Courses</a></li> -->
    <button type="submit" class="btn btn-outline-secondary mb-2 myButton" id="myButton" onclick="window.location.href='/courses';" >Courses</button>
    <!-- <li class ="navbarlist"><a href="Classrooms/index.html">Classrooms</a></li> -->
    <button type="submit" class="btn btn-outline-secondary mb-2 myButton" id="myButton" onclick="window.location.href='/classrooms';" >Classrooms</button>
    </ul>

    <!-- Top Banner -->
    <div class="header">
    <h1>Update Teacher</h1>
    </div>
    <br>
    <!-- Add Entry -->
    <div>
      <form action="/teacher-update/{{teacher[0]}}" METHOD="POST" class="form">
        <label for="teacherid">TeacherID</label>
        <input type="number" name="teacherid" value="{{teacher[0]}}" placeholder="{{teacher[0]}}" class = "input" required/>

        <label for="fname">First Name</label>
        <input type="text" name="firstname" value="{{teacher[1]}}" placeholder="First Name" class ="input" required/>
    
        <label for="lname">Last Name</label>
        <input type="text" name="lastname" value="{{teacher[2]}}" placeholder="Last Name" class = "input" required/>
    
        <label for="email">Email</label>
        <input type="text" name="email" value="{{teacher[3]}}" placeholder="Email" class = "input" required/>

        <input type="submit" value="Update Teacher" class="submit">
      </form>
    </div>

  <script src="{{url_for('static', filename='javascript/script.js')}}"></script>
</body>
</html>